* {
	margin: 0;
	padding: 0;
	font-family: Century Gothic;
}
body {
	text-align: center;
	background: #333333;
		
}
.wrapper {
	position: center;
	width: 1100px;
	margin: 0 auto;
}
header {
	height: 75px;
	background: #333333;
	width: 100%;
	z-index: 10;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 18px;
	color: #fff;
	letter-spacing: 5px;
}
nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	letter-spacing: 5px;
	font-size: 18px;
	margin: 0 10px;
	color: #fff;
}
.banner-area {
	width: 100%;
	height: 150px;
	position: fixed;
	top: 75px;
	background-color: #ffdb58;
	-webkit-background-size: cover;
	background-size: cover;
	background-position: center center;
}


.banner-area h2 {
	padding-top: 2.5%;
	font-size: 70px;
	text-transform: uppercase;
	color: #fff;
}

.slider{
	width: 100%;
	position: relative;
	top: 225px;
	background: #333333;
	height: 1100px;
}

.box{
	width: 100%;
	position: relative;
	top: 100px;
	background: #ffdb58;
	height: 700px;
}

.box2{
	
	width: 100%;
	position: relative;
	top: 150px;
	background: #ffdb58;
	height: 250px;
}

.box2 h1{
	font-family: Countryside;
	margin-bottom: 3px;
}
.box2 snap{
	background: black;
	height: 2px;
	width: 200px;
}
.slideshow{
}
.slidershow{
  width: 900px;
  height: 500px;
  overflow: hidden;
}
.middle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.navigation{
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}
.bar{
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}
.bar:hover{
  background: #fff;
}

input[name="r"]{
    position: absolute;
    visibility: hidden;
}

.slides{
  width: 500%;
  height: 100%;
  display: flex;
  
}

.slide{
  width: 20%;
  transition: 0.6s;
  
}
.slide img{
  
  width: 100%;
  height: 100%;
}
.prevText{
	width: 300px;
	position: absolute;
	top: 150px;
	left: 25px;
	color: black;
	 -webkit-text-stroke: 0.5px white;
}
.prevText h1{
		
	margin-bottom: 10px;
}
.prevText p{
	top: 30px;
}

.prevText span{
	left: 10%;
	background: red;
	height: 1px;
	width: 230px;
	position: absolute;
	
}
#r1:checked ~ .s1{
  margin-left: 0;
}
#r2:checked ~ .s1{
  margin-left: -20%;
}
#r3:checked ~ .s1{
  margin-left: -40%;
}
#r4:checked ~ .s1{
  margin-left: -60%;
}
#r5:checked ~ .s1{
  margin-left: -80%;
}
.slide s1{
	animation: slide1 12s linear infinite 
}
.slide {
	animation: slide2 12s linear infinite 
}
.slide{
	animation: slide3 12s linear infinite 
}
.slide{
	animation: slide4 12s linear infinite 
}
.slide{
	animation: slide5 12s linear infinite 
}
@keyframes slide1{
	0%{
		visibility: visible;	
	}
	20%{
		visibility: hidden;	
	}
	40%{
		visibility: hidden;	
	}
	60%{
		visibility: hidden;	
	}
	80%{
		visibility: hidden;	
	}
	100%{
		visibility: visible;	
	}
}
@keyframes slide2{
	0%{
		visibility: hidden;	
	}
	20%{
		visibility: visible;	
	}
	40%{
		visibility: hidden;	
	}
	60%{
		visibility: hidden;	
	}
	80%{
		visibility: hidden;	
	}
	100%{
		visibility: hidden;	
	}
}
@keyframes slide3{
	0%{
		visibility: hidden;	
	}
	20%{
		visibility: hidden;	
	}
	40%{
		visibility: visible;	
	}
	60%{
		visibility: hidden;	
	}
	80%{
		visibility: hidden;	
	}
	100%{
		visibility: hidden;	
	}
}
@keyframes slide4{
	0%{
		visibility: hidden;	
	}
	20%{
		visibility: hidden;	
	}
	40%{
		visibility: hidden;	
	}
	60%{
		visibility: visible;	
	}
	80%{
		visibility: hidden;	
	}
	100%{
		visibility: hidden;	
	}
}
@keyframes slide4{
	0%{
		visibility: hidden;	
	}
	20%{
		visibility: hidden;	
	}
	40%{
		visibility: hidden;	
	}
	60%{
		visibility: hidden;	
	}
	80%{
		visibility: visible;	
	}
	100%{
		visibility: hidden;	
	}
}

/*-------Gallery CSS ---------*/

.container {

  width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box1 {
	
  top: 400px;
  left: 20%;
  position: relative;
  width: 300px;
  height: 400px;
  background: #000;
  box-shadow: 0 30px 30px rgba(0,0,0,.5);
	border-radius: 50px;
}

.box1 .imgBx {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
border-radius: 50px;
}

.box1 .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.5s;
  
}

.box1:hover .imgBx img {
  opacity: 0;
}

.box1 .content {
  position: absolute;
  bottom: 20px;
  left: 10%;
  width: 80%;
  height: 60px;
  border-radius: 50px;
  background: #fff;
  transition: 0.5s;
  overflow: hidden;

  padding: 15px;
  box-sizing: border-box;
}

.box1:hover .content {
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
}

.box1 .content h3 {
  margin: 0;
  padding: 0;
  font-size: 20px;
}

.box1 .content p {
  margin: 10px 0 0;
  padding: 0;
  opacity: 0;
  line-height: 1.2em;
  transition: 0.5s;
  text-align: justify;
}

.box1:hover .content p {
  opacity: 1;
  transition-delay: 0.5s;
}

.txtGallery{
	
	width: 100%;
	position: relative;
	top: 400px;
	height: 100px;
}

.txtGallery h1{
	color: white;
	margin-bottom: 3px;
}